@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.header {
  background-color: #0b111f; /* header - bgcolor */
  color: #397796; /* header - text color */
  padding: 0.75rem 1rem;
  margin-top: 0px;
  border-top: 1px solid #21262d; /* header - border top size & color */
  border-bottom: 1px solid #21262d; /* header - border bottom size & color */
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: 1;
  font-size: 0.75rem;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
}

.header-right {
  color: #f1f5f9; /* header - color element far right */
  margin-left: auto;        /* Pushes the elements far right */
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.nav-link {
  color: #7588a3;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  border-radius: 0.6rem;
}

.nav-link:hover {
  background: rgba(255,255,255,0.06);
  color: #0da2e7;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  font-style: bold;
}

.header-icon {
  font-size: 2rem;
}

.header-credit {
  font-size: 0.875rem;
  color: #69869d; /* header - color element far right */
  text-align: right;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.footer {
  background-color: #080c16; /* bg color */
  color: #69869d; /* footer - text left color */
  padding: 2rem 1rem;
  margin-top: 0rem;
  border-top: 1px solid #21262d; /* footer - top border color */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
}

.footer-icon {
  font-size: 1.25rem;
}

.footer-credit {
  font-size: 0.875rem;
  color: #69869d; /* footer - text right color */
  text-align: right;
}